{%extends 'layout.html'%}
{%block content%}
<form method="POST" class="w-400 mw-full">
    <!-- w-400 = width: 40rem (400px), mw-full = max-width: 100% -->
    <!-- Input -->
    <div class="form-group">
        <label for="description">Confession</label>
        <textarea class="form-control" maxlength="300" id="description" name='confession' placeholder="Write a confession for yourself."></textarea>
      </div>

    

    <!-- Submit button -->
    <input class="btn btn-primary" type="submit" value="Submit">
    <div style="color:green">{{message}}</div>
</form>



{%endblock content%}